In [1]:
import json

from keras.datasets import imdb
from keras.preprocessing import sequence
from keras import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout

Using TensorFlow backend.

In [2]:
VOCABULARY_SIZE = 20000
MAX_WORDS = 500

### Training data set

In [3]:
(X_train, y_train), (X_test, y_test) = imdb.load_data(num_words = VOCABULARY_SIZE)

Mappings of **Word -> ID** and **ID -> Word**

In [4]:
word2id = imdb.get_word_index()
id2word = {i: word for word, i in word2id.items()}

All input documents must have the same length. We will limit the maximum review length to MAX_WORDS by truncating longer reviews and padding shorter reviews with a null value (0). We can accomplish this using the pad_sequences() function in Keras. For now, set MAX_WORDS to 500.

In [5]:
max_words = 500
X_train = sequence.pad_sequences(X_train, maxlen=max_words)
X_test = sequence.pad_sequences(X_test, maxlen=max_words)

### Design Model

**Input**: Sequence of words (integer ids) whose length are MAX_WORDS.

**Output**: Binary label (0 means *Negative* and 1 means *Positive*)

In [6]:
model=Sequential()
model.add(Embedding(VOCABULARY_SIZE, 32, input_length=MAX_WORDS))
model.add(LSTM(100))
model.add(Dense(1, activation='sigmoid'))

print(model.summary())

WARNING:tensorflow:From /home/perdy/Desarrollo/perdy/speech/ml_services_validation_19-05/src/.env/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 500, 32)           640000
_________________________________________________________________
lstm_1 (LSTM)                (None, 100)               53200
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 101
=================================================================
Total params: 693,301
Trainable params: 693,301
Non-trainable params: 0
_________________________________________________________________
None

### Compile and train our model

We first need to compile our model by specifying the loss function and optimizer we want to use while training, as well as any evaluation metrics we'd like to measure.

In [7]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

Once compiled, we can run the training process.

In [8]:
batch_size = 64
num_epochs = 5

X_valid, y_valid = X_train[:batch_size], y_train[:batch_size]
X_train2, y_train2 = X_train[batch_size:], y_train[batch_size:]

model.fit(X_train2, y_train2, validation_data=(X_valid, y_valid), batch_size=batch_size, epochs=num_epochs);

WARNING:tensorflow:From /home/perdy/Desarrollo/perdy/speech/ml_services_validation_19-05/src/.env/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 24936 samples, validate on 64 samples
Epoch 1/5
24936/24936 [==============================] - 90s 4ms/step - loss: 0.6633 - acc: 0.6345 - val_loss: 0.3946 - val_acc: 0.8281
Epoch 2/5
24936/24936 [==============================] - 87s 3ms/step - loss: 0.4622 - acc: 0.8080 - val_loss: 0.3939 - val_acc: 0.8438
Epoch 3/5
24936/24936 [==============================] - 87s 3ms/step - loss: 0.3266 - acc: 0.8669 - val_loss: 0.3691 - val_acc: 0.8594
Epoch 4/5
24936/24936 [==============================] - 87s 3ms/step - loss: 0.2129 - acc: 0.9196 - val_loss: 0.2725 - val_acc: 0.9062
Epoch 5/5
24936/24936 [==============================] - 87s 3ms/step - loss: 0.1480 - acc: 0.9497 - val_loss: 0.3372 - val_acc: 0.8594

### Test model to measure accuracy

In [9]:
scores = model.evaluate(X_test, y_test, verbose=0)
print('Test accuracy:', scores[1])

Test accuracy: 0.86792

### Save models and words mapping

In [10]:
model.save("model.h5")

with open("words.json", "w") as f:
    json.dump(word2id, f, indent=4)

### Prediction example

In [11]:
x = "A girl is happy while playing with her toys"
x = x.lower().split()
x = [word2id.get(i, 0) for i in x]
x = sequence.pad_sequences([x], maxlen=max_words)
score = model.predict(x)[0][0]
sentiment = {0: "Negative", 1: "Positive"}[model.predict_classes(x)[0][0]]

print(f"The result is '{sentiment}' with a score of {score:.2f}")

The result is 'Positive' with a score of 0.66

In [6]:
import pandas as pd

In [9]:
df = pd.DataFrame(zip([" ".join([id2word[j] for j in i]) for i in X_train], X_train, y_train), columns=["text_input", "input", "output"])

,text_input,input,output
0,the as you with out themselves powerful lets l...,"[1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...",1
1,the thought solid thought senator do making to...,"[1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...",0
2,the as there in at by br of sure many br of pr...,"[1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...",0
3,the of bernadette mon they halfway of identity...,"[1, 4, 18609, 16085, 33, 2804, 4, 2040, 432, 1...",1
4,the sure themes br only acting i i was favouri...,"[1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...",0
5,the effort still been that usually makes for o...,"[1, 778, 128, 74, 12, 630, 163, 15, 4, 1766, 7...",0
6,the boiled full involving to impressive boring...,"[1, 6740, 365, 1234, 5, 1156, 354, 11, 14, 532...",1
7,the of installed local of their br of attentio...,"[1, 4, 14906, 716, 4, 65, 7, 4, 689, 4367, 630...",0
8,the out can't some to hit looking when is them...,"[1, 43, 188, 46, 5, 566, 264, 51, 6, 530, 664,...",1
9,the as on there plot she's iii film that for f...,"[1, 14, 20, 47, 111, 439, 3445, 19, 12, 15, 16...",0
10,the clear fact entertaining there life back br...,"[1, 785, 189, 438, 47, 110, 142, 7, 6, 7475, 1...",1
11,the no was personality as on was me time along...,"[1, 54, 13, 1610, 14, 20, 13, 69, 55, 364, 139...",0
12,the was did hands fact absolute was then laugh...,"[1, 13, 119, 954, 189, 1554, 13, 92, 459, 48, ...",0
13,the especially like after same scientist state...,"[1, 259, 37, 100, 169, 1653, 1107, 11, 14, 418...",0
14,the child on they where totally instead he aro...,"[1, 503, 20, 33, 118, 481, 302, 26, 184, 52, 8...",0
15,the is rate hope br my out double this is agai...,"[1, 6, 964, 437, 7, 58, 43, 1402, 11, 6, 171, ...",0
16,the auto cross this of mental it of driven of ...,"[1, 7092, 1662, 11, 4, 1749, 9, 4, 2165, 4, 74...",1
17,the they of rukh br of and thought and wealthy...,"[1, 33, 4, 5673, 7, 4, 2, 194, 2, 3089, 3438, ...",1
18,the was one see me of scriptwriter br wife as ...,"[1, 13, 28, 64, 69, 4, 8742, 7, 319, 14, 20, 2...",0
19,the exercise he it is tony falls ask has is fo...,"[1, 3432, 26, 9, 6, 1220, 731, 939, 44, 6, 255...",1
20,the running this lily movie and as monster do ...,"[1, 617, 11, 3875, 17, 2, 14, 966, 78, 20, 9, ...",0
21,the throughout good scream i've angles just of...,"[1, 466, 49, 2036, 204, 2442, 40, 4, 6724, 732...",0
22,the was tale leaves japanese for why back just...,"[1, 13, 784, 886, 857, 15, 135, 142, 40, 2, 43...",1
23,the of words film law's and favorably incredib...,"[1, 4, 712, 19, 17268, 2, 19984, 963, 16272, 2...",0
24,the of i've 26 on with way this innuendo film ...,"[1, 4, 204, 7610, 20, 16, 93, 11, 9075, 19, 16...",1
25,the as it is time usual basis must has is smal...,"[1, 14, 9, 6, 55, 641, 2854, 212, 44, 6, 389, ...",1
26,the of year house hoped br am rating of and br...,"[1, 4, 288, 310, 3202, 7, 241, 672, 4, 2, 7, 1...",0
27,the bad me in through in so lucienne her bad m...,"[1, 75, 69, 8, 140, 8, 35, 17856, 38, 75, 679,...",0
28,the slaughter susan christian this drama br wh...,"[1, 4679, 2784, 1482, 11, 450, 7, 134, 364, 35...",1
29,the was one you're of ending is stars br gets ...,"[1, 13, 28, 332, 4, 274, 6, 378, 7, 211, 5, 14...",0
...,...,...,...
24970,the and interesting is four medicine on final ...,"[1, 2, 218, 6, 686, 7077, 20, 474, 273, 23, 6,...",1
24971,the those this of hard what fought exposed me ...,"[1, 145, 11, 4, 251, 48, 5103, 3770, 69, 69, 4...",1
24972,the as with out is getting on that gorgeous we...,"[1, 14, 16, 43, 6, 394, 20, 12, 1487, 72, 8, 1...",0
24973,the was town as on fantastic life bits tastes ...,"[1, 13, 510, 14, 20, 774, 110, 1798, 5178, 11,...",1
24974,the was least as on this of how stars br cant ...,"[1, 13, 219, 14, 20, 11, 4, 86, 378, 7, 2485, ...",1
24975,the career if time sam for was improved back w...,"[1, 608, 45, 55, 1281, 15, 13, 3824, 142, 13, ...",0
24976,the this an of avoid 'n it's egregious grungy ...,"[1, 11, 32, 4, 795, 12118, 42, 18057, 18747, 2...",1
24977,the miss of suspense along wrong fact you br a...,"[1, 714, 4, 833, 364, 352, 189, 22, 7, 32, 58,...",1
24978,the as on era in suggest last actually in is s...,"[1, 14, 20, 996, 8, 1464, 233, 162, 8, 6, 512,...",0
24979,the as created it men are little not it is sha...,"[1, 14, 1072, 9, 346, 23, 114, 21, 9, 6, 2009,...",1
24980,the movie live one equal as real one will so s...,"[1, 17, 409, 28, 3212, 14, 144, 28, 77, 35, 32...",0
24981,the what have fantastic scares some when it pa...,"[1, 48, 25, 774, 2626, 46, 51, 9, 170, 8, 593,...",0
24982,the of today already since eyes we mr them dan...,"[1, 4, 636, 457, 234, 520, 72, 440, 95, 8942, ...",0
24983,the imagery warden true creating don't all con...,"[1, 2653, 7410, 280, 1852, 89, 29, 1075, 141, ...",1
24984,the what have pretty in can is stops sue tax q...,"[1, 48, 25, 181, 8, 67, 6, 3000, 4717, 6620, 2...",0
24985,the was me even less when of you it has new wa...,"[1, 13, 69, 57, 326, 51, 4, 22, 9, 44, 159, 13...",0
24986,the was although as you in at of ridiculous cl...,"[1, 13, 258, 14, 22, 8, 30, 4, 644, 785, 3688,...",1
24987,the was did an devil br many course fact for n...,"[1, 13, 119, 32, 2110, 7, 108, 262, 189, 15, 1...",0
24988,the of say this of aware it is marry to romant...,"[1, 4, 132, 11, 4, 1884, 9, 6, 2272, 5, 728, 5...",1
24989,the was least gotten torn no was with time got...,"[1, 13, 219, 1837, 3064, 54, 13, 16, 55, 185, ...",1
24990,the if mind in can is you film now great film ...,"[1, 45, 327, 8, 67, 6, 22, 19, 147, 84, 19, 12...",1
24991,the their br modesty this of questionable happ...,"[1, 65, 7, 3957, 11, 4, 4609, 590, 14, 22, 9, ...",1
24992,the and and mary and beowulf with city edited ...,"[1, 2, 2, 1080, 2, 6592, 16, 540, 1990, 11, 27...",0
24993,the as on it where aged it's creature in thoug...,"[1, 14, 20, 9, 118, 2209, 42, 1661, 8, 194, 31...",1
24994,the us true this is go ill bore into possibly ...,"[1, 175, 280, 11, 6, 137, 1812, 2693, 80, 866,...",1
24995,the as it is ludicrous on not rape br program ...,"[1, 14, 9, 6, 2758, 20, 21, 1517, 7, 2078, 5, ...",1
24996,the slaughter susan effects is following like ...,"[1, 4679, 2784, 299, 6, 1042, 37, 80, 81, 233,...",0
24997,the this is anything tv tormented it is genera...,"[1, 11, 6, 230, 245, 6401, 9, 6, 1225, 446, 2,...",0
24998,the bar reverse me we endearing was song deep ...,"[1, 1446, 7079, 69, 72, 3305, 13, 610, 930, 8,...",1
24999,the movie is thought completely br of i've you...,"[1, 17, 6, 194, 337, 7, 4, 204, 22, 45, 254, 8...",0

In [20]:
for i, row in df.head().iterrows():
    print(f"{row['text_input'][:30]}... & {row['input'][:10]}... & {row['output']} \\\\")

the as you with out themselves... & [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65]... & 1 \\
the thought solid thought sena... & [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463]... & 0 \\
the as there in at by br of su... & [1, 14, 47, 8, 30, 31, 7, 4, 249, 108]... & 0 \\
the of bernadette mon they hal... & [1, 4, 18609, 16085, 33, 2804, 4, 2040, 432, 111]... & 1 \\
the sure themes br only acting... & [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637]... & 0 \\